.videoSidebar {
  position: absolute;
  color: white;
  top: 50%;
  right: 10px;
}

/* @media screen and (max-width: 600px) {
  .videoSidebar {
    position: absolute;
    color: white;
    top: 45%;
    right: 10px;
  }
} */

.videoSidebar_button {
  padding: 20px;
  text-align: center;
}
